* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(68, 22, 60);
  line-height: 1.8; 
  margin: 0;
 }

 
img {
    width: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
    width: 100%; 
    height: 150px;
    padding: 2rem;
   
}

nav{
    display: flex;
    gap: 45px;
}

nav a{
     text-decoration: none;
     font-weight: 500;
     color: black;
     transition: opacity 0.3s ease;
     border-radius: 10px;
}

nav a:hover{
    opacity: 0.6;
}


main{
    margin: 1.5rem 0 1.5rem;
}

.container{
	width: 100%;	
    margin: 0 auto;
}

.contact {
display: flex;
flex-direction: column;
gap: 30px;
font-size: 18px;
}

.aside{
    background-color: blueviolet;
    margin: 35px 5px 1.6rem;
    padding: 1.6rem;
	width: 100%;
    display: flex;
    max-height: 450px;  
}

.h2contact{
    margin-top: 50px;
   
}
 .section, .myprojects, .pitem{
 padding: 1.6rem;
	width: 100%;
	margin: px 5px 1.6rem;
}


 
 /*About me*/


 .icons{
    display: flex;
    justify-content: center;
    gap: 50px;
	margin-top: 50px; 
 }
 .devicon-html5-plain{
    color: orangered;
    font-size: 50px;
 }

 .devicon-css3-plain{
    color: blue;
    font-size: 50px;
 }

 .devicon-javascript-plain{
    color: yellow;
    font-size: 50px;;
 }

 footer{
    margin-bottom: 0;
 }

 /*Resume*/

.skills ul{
  column-count: 2;
   column-gap: 10px;
  display: flexbox;
  flex-direction: column;

}

.education{
    display: flex;
   flex-direction: column;   
 }

.bold{
    font-weight: bold;

}

/*Projects*/
 .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.projectsection{

}
 
 @media (min-width: 768px) {
    .container {
		display: flex;
        gap: 2rem;
	}
     
   

    .aside{
        display: flex;
        flex-direction: column;
        width: 450px;
        
    }

 }




