body {
    
    font-family: Arial, sans-serif;
            line-height: 1.8;
           
            
}

img {
    width: 20px;
}

header {
    background-color: blueviolet;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 1rem;
    color: rgb(68, 22, 60);
   text-align: center;
}

main{
    margin: 1.5rem 0 1.5rem;
}

.keshititle{
    font-size: 20px;
}
.container{
    width: 100%;
	max-width: 1000px;	
    margin: 0 auto;
    display: flex;
   flex-direction: row;
   gap: 40px;
}


.articles{
    width: 100%;
    margin: 40px 5px 1.6rem;
    display: flex;
   flex-direction: column;
   gap: 40px;
}

.article1{
 border: solid blueviolet;
 padding: 1rem;

 
}

.article2{
 border: solid blueviolet;
padding: 1rem;
}
.article3 {
  border: solid blueviolet;
    padding: 1rem;
}

.aside{
    background-color: blueviolet;
     display: flex;
        flex-direction: column;
        width: 600px; 
        margin: 40px 5px 1.6rem;
        padding: 1rem;
}

.contact{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
}

.projects{
display: flex;
flex-direction: column;
align-items: center;

}





