body {
    
    font-family: Arial, sans-serif;
            line-height: 1.8;
            margin: 0;
            padding: 0;
            
}

header {
    background-color: blueviolet;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    color: rgb(68, 22, 60);
   text-align: center;
}

h2 {
    text-align: center;
}

.project1, .project2, .project3 {
  color: blueviolet;
    font-weight: bold;
}

